body {
    font-family: Arial, sans-serif;
    background-color: #d9eaf7;
    text-align: center;
    margin-top: 15%;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

button-container {
    display: flex;
    gap: 15px;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
    